* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bgvideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

img {
    width: 250px;
    object-fit: cover;
    position: fixed;
    left: 38%;
    right: 0;
    top: 18%;
    bottom: 0;
}

h1, h2 {
    color: #ececec;
    font-family: system-ui;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 2px #eb5600;
}

h1 {
    font-size: 4rem;
    margin-top: 50vh;
}

h2 {
    font-size: 1.5rem;
}

.fa-facebook {
    color: #316FF6;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-instagram {
    color: #ff3187;
}

.fa-youtube {
    color: #CD201F;
}

.fa-tiktok {
    color: #000000;
}

.smicons {
    padding: 20px;
    text-align: center;
}

.smicons a {
    color: #fff;
    line-height: 30px;
    font-size: 30px;
    margin: 0 5px;
    text-decoration: none;
}

.smicons a i {
    line-height: 30px;
    border: 4px solid #ececec;
    padding: 5px;
    border-radius: 30px;
    font-size: 30px;
    transition: all 200ms ease-in;
    transform: scale(1);
}

.smicons a:hover i {
    box-shadow: 0px 0px 150px #000000;
    border: 4px solid #265787;
    border-radius: 30px;
    padding: 5px;
    z-index: 2;
    transition: all 200ms ease-in;
    transform: scale(1.5);
    background-color: #eb5600;
    color: #ffffff;
}